*{
    box-sizing:border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    margin: 20px;
    height: 90%;
    width: 75%;
    text-align: center;
  }
  



